html {
    height: 100%;
    font-family: 'Helvetica Neue', "Helvetica";
    font-size: 11px;
    line-height: 1.2em;
    letter-spacing: 0.2em;
}

body {
    background: rgba(212, 228, 239, 1);
    background: -moz-linear-gradient(45deg, rgba(212, 228, 239, 1) 0%, rgba(134, 174, 204, 1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(212, 228, 239, 1)), color-stop(100%, rgba(134, 174, 204, 1)));
    background: -webkit-linear-gradient(45deg, rgba(212, 228, 239, 1) 0%, rgba(134, 174, 204, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(212, 228, 239, 1) 0%, rgba(134, 174, 204, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(212, 228, 239, 1) 0%, rgba(134, 174, 204, 1) 100%);
    background: linear-gradient(45deg, rgba(212, 228, 239, 1) 0%, rgba(134, 174, 204, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc', GradientType=1);
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: 300px;
    max-width: 400px;
    padding: 45px;
    border-radius: 10px;
    color: #333;
    background-color: #ffffff;
    transition: 1s;
    text-align: center;
}
div {
    display: flex;
    justify-content: space-between;
    text-align: left;
}
label {
    padding: 0;
    text-align: left;
}

label:hover {
    background-color: #e4685d;
    color: #ffffff;
    transition: 0.3s;
    cursor: pointer;
}
div button {
}
button {
	background-color:#e4685d;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	text-decoration:none;
}
button:hover {
	background-color:#eb6753;
}
form {
    margin-top: 40px; 
    margin-bottom: 20px;
}

.done-true {
    color: #888;
}